[submodule "arvana-terra-admin"]
	path = arvana-terra-admin
	url = https://github.com/fujimoon/arvana-terra-admin.git
[submodule "Arvana-Terra-Android"]
	path = Arvana-Terra-Android
	url = https://github.com/fujimoon/Arvana-Terra-Android.git
[submodule "arvana-terra-backend"]
	path = arvana-terra-backend
	url = https://github.com/fujimoon/arvana-terra-backend.git
[submodule "Arvana-Terra-iOS"]
	path = Arvana-Terra-iOS
	url = https://github.com/fujimoon/Arvana-Terra-iOS.git
[submodule "arvana-terra-web"]
	path = arvana-terra-web
	url = https://github.com/fujimoon/arvana-terra-web.git
